<div class="pg-body">
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <h2>Please Sign-In</h2>
        <h3>Instruction for new customer</h3>
        <ul>
            <li>Donec tincidunt lectus eget hendrerit sollicitudin.</li>
            <li>Etiam fringilla sapien at sollicitudin placerat.</li>
            <li>Nam dignissim ante ac magna tempor, vitae blandit felis gravida.</li>
            <li>Phasellus non eros non purus pulvinar imperdiet.</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <button mat-raised-button color="primary">Register or Login</button>
    </div>
</div>
</div>
