<header>
    <div id="top-bar">
        <div class="container-header row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="pull-right">
                        <img class="logo" src="../../../../assets/images/logo/AmCartLogo.png">
                    </div>
            </div>
            <div class=" col-lg-4 col-md-4 col-sm-12 search-div ">
				<app-search-bar></app-search-bar>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" >
                <ul id="top-bar-menu">
                    <li class="top-bar-li"><span *ngIf="isUserLoggedIn"><mat-icon>account_box</mat-icon><span>{{username | uppercase}}</span></span></li>
                    <li class="top-bar-li"><span class="auth-btn" (click)="login()" *ngIf="!isUserLoggedIn"><mat-icon>login</mat-icon><span>login</span></span><span class="auth-btn" (click)="logout()" *ngIf="isUserLoggedIn"><mat-icon>logout</mat-icon><span>logout</span></span></li>
                    <li class="top-bar-li"><span><mat-icon matBadge="10" matBadgeColor="warn">favorite</mat-icon></span></li>
                    <li class="top-bar-li"><span><mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon></span></li>
                </ul>
            </div>
        </div>

    </div>
    <div id="top-menu">
        <nav class="main-menu" role="navigation">
        <ul class="nav-menu">
            <li class="nav-item"><a><span>Home</span></a></li>
            <li class="nav-item" (click)='getByDepartment("Men")'><a><span>Men</span></a></li>
            <li class="nav-item" (click)='getByDepartment("Women")'><a><span>Women</span></a></li>
            <li class="nav-item"><a><span>Popular</span></a></li>
            <li class="nav-item"><a><span>Contact Us</span></a></li>
            <li class="nav-item"><a><span>Sale</span></a></li>
        </ul>
    </nav>
    </div>
</header>