<div class="pg-body">
    <header class="row">
        <h1>Review your order</h1>
    </header>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 address-bar">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 address-card">
                    <h4>Shipping adress </h4>
                    <p>{{addressData?.addressLine1}} <br>
                        {{addressData?.addressLine2}} <br>
                        Landmark: {{addressData?.landmark}}<br>
                        {{addressData?.city}},{{addressData?.state}} <br>
                        {{addressData?.pincode}}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 address-card">
                    <h4>Billing adress </h4>
                    <p>{{addressData?.addressLine1}} <br>
                        {{addressData?.addressLine2}} <br>
                        Landmark: {{addressData?.landmark}}<br>
                        {{addressData?.city}},{{addressData?.state}} <br>
                        {{addressData?.pincode}}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 address-card">
                    <h4>Payment method </h4>
                    <span>{{paymentInfoType}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="row total-order-div">
                <div class="row place-center">
                    <button class="btn-payment" (click)="placeOrder()">Complete your Order and Pay</button>
                </div>
                <div class="row place-center">
                    <span><small>
                            You'll be securely redirected to another page to complete your payment
                        </small></span>
                </div>
                <div class="row zero-left-margin" id="order-summary">
                    <h4>Order summary</h4>
                    <ul>
                        <li><span>Items:</span><span class="pull-right">&#8377; {{totalCount | number:'1.2-2'}}</span></li>
                        <li><span>Delivery:</span><span class="pull-right">&#8377; {{(totalCount * 0.05) | number:'1.2-2'}}</span></li>
                    </ul>
                </div>
                <div id="order-total">
                    <span>Order Total:</span> <span class="pull-right">&#8377; {{(totalCount + totalCount * 0.05) | number:'1.2-2'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 order-detail-div">
            <div id="order-detail-content">
                <table class="table table-bordered" id="cart_summary">
                    <thead>
                        <tr>
                            <th colspan="2" class="cart_product first_item">Product name</th>
                            <th class="cart_unit item">Price</th>
                            <th class="cart_quantity item">QUANTITY</th>
                            <th class="cart_delete last_item">SUBTOTAL</th>
                        </tr>
                    </thead>
                    <tfoot class="dd-list-empty">
                        <tr>
                            <td colspan="5">There is no product in it!</td>
                        </tr>
                    </tfoot>
                    <tbody class="dropdown-product-list">
                        <tr class="cart_item first_item address_0 odd dd-product-group" 
                        *ngFor="let product of productInfo">
                            <td class="cart_product">
                                <a [routerLink]="['../product',product.productId,'sku',product.sku]">
                                    <img alt="Faded Short Sleeve T-shirts" width="100" height="100" src="{{product?.media[0]?.thumbnailUrl}}">
                                 </a>
                            </td>
                            <td class="cart_description">
                                <p class="product-name">
                                    <a [routerLink]="['../product',product.productId,'sku',product.sku]">{{product.title}}</a>
                                 </p>
                                <small *ngIf="product?.features?.size !== null">Size: <span>{{product?.features?.size}}</span></small>
                                <small *ngIf="product?.features?.color !== null">Color: <span>{{product?.features?.color}}</span></small>
                                <small>Product Code: <span>{{product.sku}}</span></small>
                            </td>
                            <td data-title="PRICE" class="cart_unit">
                                <span>&#8377; </span>
                                <span class="price">{{product.price | number:'1.2-2'}}</span>
                            </td>

                            <td data-title="QUANTITY" class="cart_quantity text-center">
                                <div class="cart_quantity_button clrfix">
                                    <span class="count">{{product.quantity}}</span>
                                </div>
                            </td>
                            <td class="subtotal text-center no-cls-btn" data-title="SUBTOTAL">
                                <p>&#8377; {{subTotalValue(product.price, product.quantity) | number:'1.2-2'}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-div">
                <span>
                <button class="btn-normal" (click)="onBackClick()">Back</button>
            </span>
                <span class="right-btn">
                    <button class="btn-normal" (click)="onCancel()">Cancel</button>
                    <button class="btn-solid-color" (click)="placeOrder()">Complete your Order and Pay</button>
                </span>
            </div>
        </div>
    </div>
</div>