<div class="pg-body">
   <div class="container">
      <div class="gap-70 hidden-xs"></div>
      <div class="row">
         <div class="col-md-3 col-md-pull-9 cat-sidebar">
            <aside>

               <div class="widget wg-categories">
                  <h3 class="wg-title">Categories</h3>
                  <div class="wg-body">
                     <ul class="wg-categories-list" *ngFor="let category of categories; let i = index">
                        <li><a href="#">{{category.name}}</a></li>
                     </ul>
                  </div>
               </div> <!-- widget -->

               <div class="widget wg-active-fiters">
                  <h3 class="wg-title">Enabled filters</h3>
                  <div class="wg-body">
                     <ul class="wg-af-list">
                        <li><label>Color:</label> <span class="wg-afl-val">Orange</span><a class="wg-afl-del"><i
                                 class="icon_close"></i></a></li>
                        <li><label>Availability:</label> <span class="wg-afl-val">In Stock</span><a
                              class="wg-afl-del"><i class="icon_close"></i></a></li>
                        <li><label>Size:</label> <span class="wg-afl-val">M</span><a class="wg-afl-del"><i
                                 class="icon_close"></i></a></li>
                        <li><label>Price:</label> <span class="wg-afl-val">&#8377; 100 - &#8377; 350</span><a class="wg-afl-del"><i
                                 class="icon_close"></i></a></li>
                     </ul>
                     <div class="text-center">
                        <a href="#" class="close-btn"><i class="icon_close"></i><span>Clear all</span></a>
                     </div>
                  </div>
               </div> <!-- widget -->

               <div class="widget wg-price-fiter">
                  <h3 class="wg-title">Filter by price</h3>
                  <div class="wg-body">
                     <div class="custom-slider">
                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                     </div>

                  </div>
               </div> <!-- widget -->

               <div class="widget wg-filterslist">
                  <h3 class="wg-title">Brands</h3>
                  <div class="wg-body">
                     <ul class="wgfl-list">
                        <li>
                           <input id="brand-checkbox1" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="brand-checkbox1" class="stl"><span></span>Diesel <em
                                 class="wgfl-count">(2)</em></label><br />
                        </li>
                        <li>
                           <input id="brand-checkbox2" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="brand-checkbox2" class="stl"><span></span>Nike <em
                                 class="wgfl-count">(23)</em></label><br />
                        </li>
                        <li>
                           <input id="brand-checkbox3" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="brand-checkbox3" class="stl"><span></span>Adidas <em
                                 class="wgfl-count">(72)</em></label><br />
                        </li>
                        <li>
                           <input id="brand-checkbox4" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="brand-checkbox4" class="stl"><span></span>Tommy Holifiger <em
                                 class="wgfl-count">(67)</em></label><br />
                        </li>
                        <li>
                           <input id="brand-checkbox5" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="brand-checkbox5" class="stl"><span></span>Converse <em
                                 class="wgfl-count">(83)</em></label><br />
                        </li>
                        <li>
                           <input id="brand-checkbox6" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="brand-checkbox6" class="stl"><span></span>Gucci <em
                                 class="wgfl-count">(34)</em></label><br />
                        </li>
                     </ul>
                  </div>
               </div> <!-- widget -->

               <div class="widget wg-filterslist">
                  <h3 class="wg-title">Product Tags</h3>
                  <div class="wg-body">
                     <ul class="wgfl-list">
                        <li>
                           <input id="tag-checkbox1" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox1" class="stl"><span></span>Men </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox2" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox2" class="stl"><span></span>Accessories </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox3" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox3" class="stl"><span></span>Clother </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox4" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox4" class="stl"><span></span>Jacket </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox5" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox5" class="stl"><span></span>Shoes </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox6" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox6" class="stl"><span></span>Ipad case </label><br />
                        </li>
                     </ul>
                     <ul class="wgfl-list">
                        <li>
                           <input id="tag-checkbox7" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox7" class="stl"><span></span>Sunglass </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox8" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox8" class="stl"><span></span>Fabric </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox9" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox9" class="stl"><span></span>Jeans </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox10" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox10" class="stl"><span></span>Woman </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox11" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox11" class="stl"><span></span>Fashion </label><br />
                        </li>
                        <li>
                           <input id="tag-checkbox12" type="checkbox" name="checkbox" value="" class="stl">
                           <label for="tag-checkbox12" class="stl"><span></span>Sport wear </label><br />
                        </li>
                     </ul>
                  </div>
               </div> <!-- widget -->

               <div class="widget wg-filterslist">
                  <h3 class="wg-title">Color</h3>
                  <div class="wg-body">
                     <ul class="wgfl-list">
                        <li>
                           <input class="color-option" type="button" name="f1" value=" " style="background: #FFFFFF;">
                           <a href="#">White <em class="wgfl-count">(10)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f2" value=" " style="background: #ff6c00;">
                           <a href="#">Orange <em class="wgfl-count">(15)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f3" value=" " style="background: #93ca6c;">
                           <a href="#">Green <em class="wgfl-count">(17)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f3" value=" " style="background: #25b9d4;">
                           <a href="#">Blue <em class="wgfl-count">(23)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f5" value=" " style="background: #ffcb05;">
                           <a href="#">Yellow <em class="wgfl-count">(54)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f6" value=" " style="background: #d6d6d6;">
                           <a href="#">Silver <em class="wgfl-count">(87)</em></a>
                        </li>
                     </ul>
                     <ul class="wgfl-list">
                        <li>
                           <input class="color-option" type="button" name="f7" value=" " style="background: #a47e42;">
                           <a href="#">Brown <em class="wgfl-count">(36)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f8" value=" " style="background: #c7c7c7;">
                           <a href="#">Gray <em class="wgfl-count">(72)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f9" value=" " style="background: #000000;">
                           <a href="#">Black <em class="wgfl-count">(84)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f10" value=" " style="background: #a873b8;">
                           <a href="#">Purple <em class="wgfl-count">(42)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f11" value=" " style="background: #ff84b8;">
                           <a href="#">Pink <em class="wgfl-count">(30)</em></a>
                        </li>
                        <li>
                           <input class="color-option" type="button" name="f12" value=" " style="background: #fc0100;">
                           <a href="#">Red <em class="wgfl-count">(28)</em></a>
                        </li>
                     </ul>
                  </div>
               </div> <!-- widget -->

               <div class="widget wg-filterslist">
                  <div class="wg-title">Size
                     <ul class="wg-size-tabs">
                        <li><a href="">UK</a></li>
                        <li class="active"><a href="">US</a></li>
                        <li><a href="">EU</a></li>
                     </ul>
                  </div>
                  <div class="wg-body">
                     <ul class="wgfl-list">
                        <li>
                           <input id="zise-checkbox1" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox1" class="stl"><span></span>US <em
                                 class="wgfl-count">(53)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox2" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox2" class="stl"><span></span>US <em
                                 class="wgfl-count">(23)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox3" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox3" class="stl"><span></span>US <em
                                 class="wgfl-count">(72)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox4" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox4" class="stl"><span></span>US <em
                                 class="wgfl-count">(67)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox5" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox5" class="stl"><span></span>US <em
                                 class="wgfl-count">(83)</em></label><br />
                        </li>
                     </ul>
                     <ul class="wgfl-list">
                        <li>
                           <input id="zise-checkbox7" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox7" class="stl"><span></span>US <em
                                 class="wgfl-count">(25)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox8" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox8" class="stl"><span></span>US <em
                                 class="wgfl-count">(12)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox9" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox9" class="stl"><span></span>US <em
                                 class="wgfl-count">(52)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox10" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox10" class="stl"><span></span>US <em
                                 class="wgfl-count">(14)</em></label><br />
                        </li>
                        <li>
                           <input id="zise-checkbox11" type="checkbox" name="checkbox" value=" " class="stl">
                           <label for="zise-checkbox11" class="stl"><span></span>US <em
                                 class="wgfl-count">(16)</em></label><br />
                        </li>
                     </ul>
                  </div>
               </div> <!-- widget -->

            </aside>
         </div> <!-- sidebar -->

         <div class="col-md-9 col-md-push-3 cat-content">
            <a ><img src="../../../assets/images/product/category/mens/mens-category-banner.jpg" alt=""></a>

            <div class="cat-view-options">
               <div class="row">
                  <div class="col-md-4">
                     <div class="row no-gutter form-group">
                        <div class="col-md-4">
                           <label class="cvo-label">Sort By</label>
                        </div>
                        <div class="col-md-8">
                           <select class="form-control cvo-control s-styled hasCustomSelect" name="sortby">
                              <option value="default">Default Sorting</option>
                              <option value="price">Price</option>
                              <option value="rating">Rating</option>
                              <option value="popularity">Popularity</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-lg-2">
                     <div class="row no-gutter form-group">
                        <div class="col-md-6">
                           <label class="cvo-label">Show</label>
                        </div>
                        <div class="col-md-6">
                           <select class="form-control cvo-control s-styled hasCustomSelect" name="items-per-page">
                              <option value="12">12</option>
                              <option value="18">18</option>
                              <option value="24">24</option>
                              <option value="33">33</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-2 col-lg-2 cvo-availability-col">
                     <div class="form-group">
                        <select class="form-control cvo-control s-styled hasCustomSelect" name="avilability">
                           <option value="">Avilability</option>
                           <option value="available">Avilable</option>
                           <option value="coming">Coming</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3 col-lg-4 text-right">
                     <label class="cvo-label">View</label>
                     <div class="cvo-view-type" role="tablist">
                        <ul class="list-inline">
                           <li class="active">
                              <a href="#pl-grid" role="tab" data-toggle="tab" class="cvo-grid">
                                 <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px"
                                    height="14px" viewBox="0 0 50 50" xml:space="preserve">
                                    <rect x="0" y="0" width="20" height="20" />
                                    <rect x="30" y="0" width="20" height="20" />
                                    <rect x="0" y="30" width="20" height="20" />
                                    <rect x="30" y="30" width="20" height="20" />
                                 </svg>
                              </a>
                           </li>
                           <li>
                              <a href="#pl-list" role="tab" data-toggle="tab" class="cvo-list">
                                 <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px"
                                    height="14px" viewBox="0 0 30.263 25.6" xml:space="preserve">
                                    <rect width="7.732" height="6.398" />
                                    <rect y="9.6" width="7.732" height="6.4" />
                                    <rect y="19.199" width="7.732" height="6.398" />
                                    <rect x="10.933" y="9.602" width="19.33" height="6.4" />
                                    <rect x="10.933" y="19.199" width="19.33" height="6.4" />
                                    <rect x="10.933" width="19.33" height="6.4" />
                                 </svg>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div> <!-- cat-view-options -->

            <div class="cat-pagination">
               <div class="row">
                  <div class="col-sm-6">
                     <span>Items {{products.length}} of {{totalCount}} total</span>
                  </div>
                  <div class="col-sm-6 text-right">
                     <ul class="pagination">
                        <li class="page-item select-page" *ngIf="totalPage > 1 && currentPage != 1" (click)="loadFirstPage()">1</li>
                        <li class="page-item">{{currentPage}}</li>
                        <li class="page-item select-page" [class.disabled]="currentPage == totalPage" *ngIf="totalPage > 1" (click)="goToNextPage()"><mat-icon>keyboard_arrow_right</mat-icon></li>
                     </ul>
                  </div>
               </div>
            </div>


            <div class="tab-content tab-no-style">
               <div class="tab-pane " id="pl-grid">
                  <div class="products-list">
                     <div class="row">
                        <div class="col-md-4 col-sm-6 pl-item" *ngFor="let product of products; let i = index">
                           <figure>
                              <a [routerLink]="['../product',product.productId,'sku',product.sku]">
                                 <img src={{product.media[0].thumbnailUrl}} alt="">
                              </a>
                              <!-- <label class="pl-badge">NEW</label> -->
                              <figcaption>
                                 <a (click)="addItemInCart(product)" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top"
                                    title="Add To Cart">
                                    <mat-icon>shopping_bag</mat-icon>
                                 </a>
                                 <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top"
                                    title="Quick View">
                                    <mat-icon>remove_red_eye</mat-icon>
                                 </a>
                                 <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top"
                                    title="Compare">
                                    <mat-icon>compare_arrows</mat-icon>
                                 </a>
                                 <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top"
                                    title="Add To Wish List">
                                    <mat-icon>favorite</mat-icon>
                                 </a>
                              </figcaption>
                           </figure>
                           <div class="pl-caption">
                              <p class="pl-price-block">
                                 &#8377; <span class="pl-price">{{product.price}}</span>
                              </p>
                              <p class="pl-name">{{product.description}}</p>
                              <span class="stars-rating stars-4"><span class="stars"></span></span>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div> <!-- grid list -->
            </div>

            <div class="cat-view-options">
               <div class="row">
                  <div class="col-md-4">
                     <div class="row no-gutter form-group">
                        <div class="col-md-4">
                           <label class="cvo-label">Sort By</label>
                        </div>
                        <div class="col-md-8">
                           <select class="form-control cvo-control s-styled hasCustomSelect" name="sortby">
                              <option value="default">Default Sorting</option>
                              <option value="price">Price</option>
                              <option value="rating">Rating</option>
                              <option value="popularity">Popularity</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-lg-2">
                     <div class="row no-gutter form-group">
                        <div class="col-md-6">
                           <label class="cvo-label">Show</label>
                        </div>
                        <div class="col-md-6">
                           <select class="form-control cvo-control s-styled hasCustomSelect" name="items-per-page">
                              <option value="12">12</option>
                              <option value="18">18</option>
                              <option value="24">24</option>
                              <option value="33">33</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-2 col-lg-2 cvo-availability-col">
                     <div class="form-group">
                        <select class="form-control cvo-control s-styled hasCustomSelect" name="avilability">
                           <option value="">Avilability</option>
                           <option value="available">Avilable</option>
                           <option value="coming">Coming</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3 col-lg-4 text-right">
                     <label class="cvo-label">View</label>
                     <div class="cvo-view-type" role="tablist">
                        <ul class="list-inline">
                           <li class="active">
                              <a href="#pl-grid" role="tab" data-toggle="tab" class="cvo-grid">
                                 <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px"
                                    height="14px" viewBox="0 0 50 50" xml:space="preserve">
                                    <rect x="0" y="0" width="20" height="20" />
                                    <rect x="30" y="0" width="20" height="20" />
                                    <rect x="0" y="30" width="20" height="20" />
                                    <rect x="30" y="30" width="20" height="20" />
                                 </svg>
                              </a>
                           </li>
                           <li>
                              <a href="#pl-list" role="tab" data-toggle="tab" class="cvo-list">
                                 <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px"
                                    height="14px" viewBox="0 0 30.263 25.6" xml:space="preserve">
                                    <rect width="7.732" height="6.398" />
                                    <rect y="9.6" width="7.732" height="6.4" />
                                    <rect y="19.199" width="7.732" height="6.398" />
                                    <rect x="10.933" y="9.602" width="19.33" height="6.4" />
                                    <rect x="10.933" y="19.199" width="19.33" height="6.4" />
                                    <rect x="10.933" width="19.33" height="6.4" />
                                 </svg>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div> <!-- cat-view-options -->
            <div class="cat-pagination">
               <div class="row">
                  <div class="col-sm-6">
                     Items {{products.length}} of {{totalCount}} total
                  </div>
                  <div class="col-sm-6 text-right">
                     <ul class="pagination">
                        <li class="page-item select-page" *ngIf="totalPage > 1 && currentPage != 1" (click)="loadFirstPage()">1</li>
                        <li class="page-item">{{currentPage}}</li>
                        <li class="page-item select-page" [class.disabled]="currentPage == totalPage" *ngIf="totalPage > 1" (click)="goToNextPage()"><i class="arrow_carrot-right"></i></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div> <!-- cat-content -->

      </div>
      <div class="gap-70"></div>
   </div> <!-- container -->
</div> <!-- pg-body -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
   <p style="color: white">Please Wait. </p>  
   </ngx-spinner> 