
<div class="gap-70"></div>
<div class="container">
    <mat-tab-group animationDuration="0ms">
        <!-- <mat-tab>
            <ng-template mat-tab-label>
                <div class="checkout-menu">
                    <span class="icon-menu"><mat-icon class="vertical-middle">perm_identity</mat-icon></span>
                    <span>Signin</span>
                </div>
                
            </ng-template>
            <div class="gap-40"></div>
            <app-signin></app-signin>
        </mat-tab> -->
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="checkout-menu">
                    <span class="icon-menu"> <mat-icon class="vertical-middle">home</mat-icon></span>
                    <span>Address</span>
                </div>
            </ng-template>
            <div class="gap-40"></div>
            <app-address></app-address>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="checkout-menu">
                    <span class="icon-menu"><mat-icon class="vertical-middle">payment</mat-icon></span>
                    <span>Payment Method</span>
                </div>
            </ng-template>
            <div class="gap-40"></div>
            <app-payment-method (selectPaymentMethodEvent)="getPaymentMethodType($event)"></app-payment-method>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="checkout-menu">
                    <span class="icon-menu"> <mat-icon class="vertical-middle">shopping_cart</mat-icon></span>
                    <span>Place order</span>
                </div>
            </ng-template>
            <div class="gap-40"></div>
            <app-review-order [paymentType]="paymentInfo"></app-review-order>
        </mat-tab>
        
      </mat-tab-group>
</div>
