<footer>
    <div id="footer-1">
         
        <div class="container">
           <div class="row">
              <div class="col-md-2 col-sm-12">
                 <div class="information-box mobile-collapse">
                    <div class="title-type-2 mobile-collapse-header">
                       About
                    </div>
                    <ul class="list-unstyled mobile-collapse-body">
                       <li>
                          <a href="#">
                             Contact Us
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             About Us
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             Careers
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             Our Stories
                          </a>
                       </li>
                    </ul>      
                 </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="information-box mobile-collapse">
                   <div class="title-type-2 mobile-collapse-header">
                      Help
                   </div>
                   <ul class="list-unstyled mobile-collapse-body">
                      <li>
                         <a href="#">
                            Payments
                         </a>
                      </li>
                      <li>
                         <a href="#">
                            Shipping
                         </a>
                      </li>
                      <li>
                         <a href="#">
                            Cancellation & Returns
                         </a>
                      </li>
                      <li>
                         <a href="#">
                            FAQ
                         </a>
                      </li>
                      <li>
                        <a href="#">
                           Report Infringement
                        </a>
                     </li>
                   </ul>      
                </div>
             </div>
              <div class="col-md-2 col-sm-12">
                 <div class="my-account-box mobile-collapse">
                    <div class="title-type-2 mobile-collapse-header">
                       Policy
                    </div>
                    <ul class="list-unstyled mobile-collapse-body">
                       <li>
                          <a href="#">
                             Policy
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             Return Policy
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             Terms Of Use
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             Privacy
                          </a>
                       </li>
                    </ul>      
                 </div>
              </div>
              <div class="col-md-2 col-sm-12">
                 <div class="main-categories-box mobile-collapse">
                    <div class="title-type-2 mobile-collapse-header">
                       Main Categories
                    </div>
                    <ul class="list-unstyled mobile-collapse-body">
                       <li>
                          <a href="category.html">
                             For Men
                          </a>
                       </li>
                       <li>
                          <a href="category.html">
                             Jeans
                          </a>
                       </li>
                       <li>
                          <a href="category.html">
                             Jackets
                          </a>
                       </li>
                       <li>
                          <a href="category.html">
                             For Her
                          </a>
                       </li>
                       <li>
                          <a href="category.html">
                             Accessories
                          </a>
                       </li>
                    </ul>      
                 </div>
              </div>
              <div class="col-md-4 col-sm-12 address-block-left-padding">
                <div class="main-categories-box mobile-collapse">
                   <div class="title-type-3 mobile-collapse-header">
                      Mail Us:
                   </div>
                   <div class="address-block">
                       <div class="address-block-1">
                           <div class="address-block-2">
                            <p>Ecommerce Batch3 Private Limited, </p>
                            <p> Griffindor, Secret House,</p>
                            <p> Outer Ring Road, Hogsmead Village, </p>
                            <p> Hogwarts, 00000, </p>
                            <p> Secret Country, Earth</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
           </div>
        </div>
     
    </div>
    <div id="footer-2">
         
        <div class="container">
           <div class="row">
               <div class="col-md-4">
                <p class="copyright">
                    © 2020 AmCart Shop+. All right reseved.
                 </p>
               </div>
              <div class="col-md-4 text-center-md">
                 <img src="../../../../assets/images/footer/payment-method.svg" alt="accepted credit cards">
              </div>
              <div class="col-md-4 text-center-md">
                 <ul id="social-buttons" class="list-inline">
                    <li class="facebook"><a href="#"><img src="../../../../assets/images/social/facebook.svg" alt="facebook"></a></li>
                    <li class="tweeter"><a href="#"><img src="../../../../assets/images/social/instagram.svg" alt="instagram"></a></li>
                    <li class="instatgram"><a href="#"><img src="../../../../assets/images/social/youtube.svg" alt="youtube"></a></li>
                    <li class="youtube"><a href="#"><img src="../../../../assets/images/social/twitter.svg" alt="twitter"></a></li>
                 </ul>
              </div>
           </div>
        </div>
  </div> 
</footer>
