<div class="pg-body">
<div class="cart-banner">
    <h2>Shopping Cart</h2></div>
<div class="container gap-60">
    <div class="row">
        <div class="gap-60"></div>
        <div class="col-md-8 col-xs-12">
            <div class="table_block table-responsive mb-40" id="order-detail-content">
                <table class="table table-bordered" id="cart_summary">
                    <thead>
                       <tr>
                          <th colspan="2" class="cart_product first_item">Product name</th>
                          <th class="cart_unit item">Price</th>
                          <th class="cart_quantity item">QUANTITY</th>
                          <th class="cart_delete last_item">SUBTOTAL</th>
                       </tr>
                    </thead>
                    <tbody class="dropdown-product-list">
                       <tr class="cart_item first_item address_0 odd dd-product-group">
                          <td class="cart_product">
                             <a href="product-page.html">
                                <img alt="Faded Short Sleeve T-shirts" src="../../../assets/images/product/category/mens/jacket.jpg">
                             </a>
                          </td>
                          <td class="cart_description">
                             <p class="product-name">
                                <a href="product-page.html">Majestic Beecroft Jacket For Him</a>
                             </p>
                             <small>Size: <span>XL</span></small>
                             <small>Color: <span>Red</span></small>
                             <small>Product Code: <span>12658472</span></small>
                          </td>
                          <td data-title="PRICE" class="cart_unit">
                             <span class="price">$800.00</span>
                          </td>

                          <td class="cart_quantity text-center">
                             <div class="cart_quantity_button clrfix">
                                <a title="Subtract" href="#" class="cart_quantity_down btn btn-default btn-minus" rel="nofollow">-</a>
                                <input type="text" name="quantity" value="1" class="cart_quantity_input form-control grey count" autocomplete="off" size="2" disabled>
                                <a title="Add" href="#" class="cart_quantity_up btn btn-default btn-plus" rel="nofollow">+</a>
                             </div>
                          </td>
                          <td class="subtotal text-center" data-title="SUBTOTAL">
                             <a class="close-btn ddr" href="#"><mat-icon>delete_forever</mat-icon></a>
                             <p>$ 800.00</p>
                          </td>
                       </tr>
                       </tbody>
                </table>
                <div class="row">
                   <p>There is no product in your cart</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 pull-right">
            <div class="row">
               <div class="container col-xs-12 cart-detail">
                  <h6 class="gold-header">CART DETAIL</h6>
                  <p class="info"><span class="pull-left col-xs-6">Cart Subtotal:</span><span class="pull-right col-xs-6 text-right">$2100.00</span></p>
                  <p class="info"><span class="pull-left col-xs-6">Tax:</span><span class="pull-right col-xs-6 text-right gray">$0.00</span></p>
                  <p class="info total"><span class="pull-left col-xs-6">ORDER TOTAL:</span><span class="col-xs-6 pull-right text-right">$2100.00</span></p>
               </div>
            </div>

    </div>
    <div class="col-md-8 col-xs-12">
        <div class="row">
           <form action="#"  class="form-inline bottom-buttons">
              <div class="col-lg-6 col-xs-12">
                 <div class="row">
                    <div class="form-group col-xs-7 col-sm-8">
                       <input type="text" name="coupon" placeholder="Enter coupon" class="form-control placeholder-fix">
                    </div>
                    <div class="col-xs-5 col-sm-4">
                       <button class="btn btn-md btn-third-col">APPLY</button>
                    </div>
                 </div>
              </div>
              <div class="col-lg-6 col-xs-12 checkout-div">
                 <div class="row">
                    <div class="col-sm-5 col-xs-12">
                       <button class="btn btn-md btn-third-col">UPDATE CART</button>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                       <button class="btn btn-md btn-sec-col">PROCEED TO CHECKOUT</button>
                    </div>
                 </div>
              </div>
           </form>
        </div>
     </div>
</div>
</div>
