<div class="pg-body">
   <div class="cart-banner">
      <h2>Shopping Cart</h2>
   </div>
   <div class="container gap-60">
      <div class="row">
         <div class="gap-60"></div>
         <div class="col-md-8 col-xs-12">
            <div class="table_block table-responsive mb-40" id="order-detail-content">
               <table class="table table-bordered" id="cart_summary"
                  *ngIf="cartDetailObj.productInfo !== null else NoProduct">
                  <thead>
                     <tr>
                        <th colspan="2" class="cart_product first_item">Product name</th>
                        <th class="cart_unit item">Price</th>
                        <th class="cart_quantity item">QUANTITY</th>
                        <th class="cart_delete last_item">SUBTOTAL</th>
                     </tr>
                  </thead>
                  <tbody class="dropdown-product-list">
                     <tr class="cart_item first_item address_0 odd dd-product-group"
                        *ngFor="let product of cartDetailObj.productInfo">
                        <td class="cart_product">
                           <a [routerLink]="['../product',product.productId,'sku',product.sku]">
                              <img alt="Faded Short Sleeve T-shirts" src="{{product.media[0].thumbnailUrl}}">
                           </a>
                        </td>
                        <td class="cart_description">
                           <p class="product-name">
                              <a [routerLink]="['../product',product.productId,'sku',product.sku]">{{product.title}}</a>
                           </p>
                           <small *ngIf="product.features.size !== null">Size:
                              <span>{{product.features.size}}</span></small>
                           <small *ngIf="product.features.color !== null">Color:
                              <span>{{product.features.color}}</span></small>
                           <small>Product Code: <span>{{product.sku}}</span></small>
                        </td>
                        <td data-title="PRICE" class="cart_unit">
                           <span>&#8377; </span>
                           <span class="price">{{product.price | number:'1.2-2'}}</span>
                        </td>

                        <td class="cart_quantity text-center">
                           <div class="cart_quantity_button clrfix">
                              <a title="Subtract"
                                 class="cart_quantity_down btn btn-default btn-minus" (click)="decrementCount(product.productId, -1)" rel="nofollow">-</a>
                              <input type="text" name="quantity" value="{{product.quantity}}"
                                 class="cart_quantity_input form-control grey count" autocomplete="off" size="2"
                                 disabled>
                              <a title="Add" (click)="incrementCount(product.productId, 1)" class="cart_quantity_up btn btn-default btn-plus"
                                 rel="nofollow">+</a>
                           </div>
                        </td>
                        <td class="subtotal text-center" data-title="SUBTOTAL">
                           <a class="close-btn ddr" (click)="removeProductFromCart(product.productId, product.sku)">
                              <mat-icon>delete_forever</mat-icon>
                           </a>
                           <p><span>&#8377; </span> {{subTotalValue(product.price, product.quantity) | number:'1.2-2'}}</p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <ng-template #NoProduct>
                  <div class="row">
                     <p>There is no product in your cart</p>
                  </div>
               </ng-template>
            </div>
         </div>
         <div class="col-md-4 col-xs-12 pull-right">
            <div class="row">
               <div class="container col-xs-12 cart-detail">
                  <h6 class="gold-header">CART DETAIL</h6>
                  <p class="info"><span class="pull-left col-xs-6">Cart Subtotal:</span><span
                        class="pull-right col-xs-6 text-right">&#8377; {{cartSubTotal | number:'1.2-2'}}</span></p>
                  <p class="info"><span class="pull-left col-xs-6">Tax:</span><span
                        class="pull-right col-xs-6 text-right gray">&#8377; {{(cartSubTotal * 0.05) | number:'1.2-2'}}</span></p>
                  <p class="info total"><span class="pull-left col-xs-6">ORDER TOTAL:</span><span
                        class="col-xs-6 pull-right text-right">&#8377; {{totalAmount | number:'1.2-2'}}</span></p>
               </div>
            </div>

         </div>
         <div class="col-md-8 col-xs-12">
            <div class="row">
               <form action="#" class="form-inline bottom-buttons">
                  <div class="col-lg-6 col-xs-12">
                     <div class="row">
                        <div class="form-group col-xs-7 col-sm-8">
                           <input type="text" disabled name="coupon" placeholder="Enter coupon"
                              class="form-control placeholder-fix">
                        </div>
                        <div class="col-xs-5 col-sm-4">
                           <button class="btn btn-md btn-third-col" disabled >APPLY</button>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-xs-12 checkout-div">
                     <div class="row">
                        <div class="col-sm-5 col-xs-12">
                           <button class="btn btn-md btn-third-col" disabled>UPDATE CART</button>
                        </div>
                        <div class="col-sm-7 col-xs-12">
                           <button class="btn btn-md btn-sec-col" [disable]="cartDetailObj.productInfo === undefined || cartDetailObj.productInfo.length === 0" (click)="redirectToCheckout()">PROCEED TO CHECKOUT</button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: white">Please Wait. </p>
   </ngx-spinner>