.pg-body{
    height: 100%;
}
.cart-banner{

    width: 100%;
    background-color: rgb(243, 239, 239);
    
}

.cart-banner h2{
    margin: 0;
    padding: 0;
    line-height: 60px;
    vertical-align: middle;
    color:#52b3d3;
    font-size: large;
    padding-left: 21%;
}
.gap-60 {
    margin-top: 60px;
}

.mb-40 {
    margin-bottom: 40px !important;
}

#order-detail-content #cart_summary {
    margin-bottom: 0;
}

#order-detail-content .table.table-bordered {
    border-color: #ebebeb;
}

#order-detail-content .table > thead > tr > th {
    background: none repeat scroll 0 0 #ebebeb;
    border-bottom-width: 1px;
    border-color: #ebebeb;
    vertical-align: middle;
    color: #212224;
    font-size: 13px;
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    height: 46px;
    line-height: 46px;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#order-detail-content .table tbody > tr > td {
    vertical-align: top;
    padding-top: 20px;
    text-align: center;
    position: relative;
}

#order-detail-content #cart_summary tbody td.cart_product img {
    border: none;
    vertical-align: middle;
}

img {
    max-width: 100%;
}

#order-detail-content #cart_summary tbody td.cart_description {
    vertical-align: top;
    text-align: left;
}

#order-detail-content .table > tbody > tr > td.cart_description {
    padding: 20px;
}

#order-detail-content .product-name {
    color: #212224;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 0;
    height: 35px;
    margin-bottom: 15px;
}

#order-detail-content .product-name a {
    color: #212224;
    line-height: 23px;
}

#order-detail-content #cart_summary tbody td.cart_description small {
    display: block;
    padding: 0;
    color: #36383b;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

#order-detail-content #cart_summary tbody td.cart_unit {
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
    width: 120px;
    font-size: 14px;
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
}

#order-detail-content .table tbody > tr > td.cart_quantity {
    text-align: center;
    width: 140px;
    vertical-align: top;
    padding-top: 20px;
}

#order-detail-content .table tbody > tr > td.cart_quantity .cart_quantity_button {
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    clear: both;
}

#order-detail-content .table tbody > tr > td.cart_quantity .cart_quantity_button a {
    float: left;
    display: block;
    margin: 0;
    height: 30px;
    line-height: 25px;
    vertical-align: middle;
    padding: 0;
    width: 30px;
    font-size: 20px;
    border: 1px solid #d7d9db;
    color: #8c929b;
    text-align: center;
}

#order-detail-content .cart_quantity .cart_quantity_input {
    padding: 0;
    text-align: center;
    float: left;
    display: block;
    margin: 0;
    width: auto;
    min-width: 30px;
    text-indent: 0;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #212224;
    font-family: "Open Sans", sans-serif;
    border-left: none;
    border-right: none;
}

#order-detail-content .cart_quantity .cart_quantity_input:disabled {
    background-color: transparent;
    cursor: default;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 2;
    padding: 8px 17px;
    text-transform: uppercase;
    border: none;
    transition: all .2s ease 0;
    font-weight: 300;
}

#order-detail-content .subtotal {
    padding-left: 20px;
    padding-right: 60px;
    text-align: left;
}

#order-detail-content .table tbody > tr a.close-btn.ddr {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 12px;
    margin: 0;
}

#order-detail-content .subtotal .close-btn + p {
    text-align: left;
}

#order-detail-content .table .price, #order-detail-content .subtotal p {
    color: #000;
    font-weight: 600;
    white-space: nowrap;
}


.cart-detail {
    margin-bottom: 40px;
}

h6.gold-header {
    background-color: #52b3d3;
    padding: 2px 0 0 15px;
    margin: 0;
    color: white;
    vertical-align: middle;
    font: 16px/46px HelveticaNeue, Arial, Helvetica, sans-serif;
    height: 46px;
}

.info {
    height: 55px;
    font: 13px/55px "Open Sans", sans-serif;
    color: black;
    border-left: 1px solid #d7d9db;
    border-right: 1px solid #d7d9db;
    border-bottom: 1px solid #d7d9db;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}
.info span + span {
    font-size: 15px;
}

.info.total {
    font: 600 15px/60px "Open Sans", sans-serif;
    text-transform: uppercase;
    height: 60px;
}

.info.total span + span {
    color:  #52b3d3;
    font-size: 18px;
}


.form-group {
    margin-bottom: 15px;
    position: relative;
}

.bottom-buttons input[type=text] {
    height: 46px;
    width: 100%;
    margin-bottom: 20px;
}


.bottom-buttons .btn {
    display: inline-block;
    height: 46px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    min-width: 0;
    margin-bottom: 20px;
}


.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 2;
    padding: 8px 17px;
    text-transform: uppercase;
    border: none;
    transition: all .2s ease 0;
    font-weight: 300;
}

.btn-md {
    color: #dccc99;
    min-width: 155px;
    font-size: 16px;
}

.btn-sec-col {
    background: #52b3d3;
    color: #fff;
    font-size: 12px !important;
}
.btn-third-col {
    background: #060606;
    color: #dccc99;
    border-radius: 5px;
    font-size: 12px;
}

.checkout-div {
    padding: 0px;
    margin-bottom: 15px;
}