<div class="pg-body">
    <div class="container">
        <div class="row">
            <h2 class="col-xs-12 thank-you make-center">Thank you. Your order has been received</h2>
        </div>
       <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="row">
               <div class="col-xs-12">
                  <div class="contact-info">
                     <h6><span class="icon-users"><mat-icon>perm_identity</mat-icon></span>CUSTOMERS DETAIL</h6>
                     <p>E-mail: <a href="mailto:your@email.com">your@email.com</a></p>
                     <p>Phone: <span>+1(800)2364 322 23 16</span></p>
                     <div class="hr"></div>
                     <h6><span class="icon-home"><mat-icon>home</mat-icon></span>BILLING ADDRESS</h6>
                     <p>Shop+, Valencia Road, <br>
                        Dumaguete city, Negros Oriental <br>
                        80118 <br>
                        Philippines</p>
                     <div class="hr"></div>
                     <h6><span class="icon-plane"><mat-icon>flight</mat-icon></span>SHIPPING ADDRESS</h6>
                     <p>Shop+, Valencia Road, <br>
                        Dumaguete city, Negros Oriental <br>
                        80118 <br>
                        Philippines</p>
                  </div>
               </div>
            </div>
         </div>
          <div class="col-md-8 col-xs-12">
             <div class="table_block table-responsive mb-40 clearfix" id="order-detail-content">
                <table class="table table-bordered" id="cart_summary">
                   <thead>
                      <tr>
                         <th colspan="2" class="cart_product first_item">Product name</th>
                         <th class="cart_unit item">Price</th>
                         <th class="cart_quantity item">QUANTITY</th>
                         <th class="cart_delete last_item">SUBTOTAL</th>
                      </tr>
                   </thead>
                   <tbody class="dropdown-product-list">
                      <tr class="cart_item first_item address_0 odd dd-product-group">
                         <td class="cart_product">
                            <a href="#">
                               <img alt="Faded Short Sleeve T-shirts" src="../../../assets/images/product/category/mens/jacket.jpg">
                            </a>
                         </td>
                         <td class="cart_description">
                            <p class="product-name">
                               <a href="#">Majestic Beecroft Sweater For Him</a>
                            </p>
                            <small>Size: <span>XL</span></small>
                            <small>Color: <span>Red</span></small>
                            <small>Product Code: <span>12658472</span></small>
                         </td>
                         <td data-title="PRICE" class="cart_unit">
                            <span class="price">$800.00</span>
                         </td>

                         <td data-title="QUANTITY" class="cart_quantity text-center">
                            <div class="cart_quantity_button clrfix">
                               <span class="count">1</span>
                            </div>
                         </td>
                         <td class="subtotal text-center no-cls-btn" data-title="SUBTOTAL">
                            <p>$ 800.00</p>
                         </td>
                      </tr>

                      <tr class="cart_item first_item address_0 odd dd-product-group">
                         <td class="cart_product">
                            <a href="#">
                               <img alt="Faded Short Sleeve T-shirts" src="../../../assets/images/product/category/mens/jacket.jpg">
                            </a>
                         </td>
                         <td class="cart_description">
                            <p class="product-name">
                               <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                            </p>
                            <small>Size: <span>XL</span></small>
                            <small>Color: <span>Red</span></small>
                            <small>Product Code: <span>12658472</span></small>
                         </td>
                         <td data-title="PRICE" class="cart_unit">
                            <span class="price">$800.00</span>
                         </td>

                         <td data-title="QUANTITY" class="cart_quantity text-center">
                            <div class="cart_quantity_button clrfix">
                               <span class="count">1</span>
                            </div>
                         </td>
                         <td class="subtotal text-center no-cls-btn" data-title="SUBTOTAL">
                            <p>$ 800.00</p>
                         </td>
                      </tr>
                   </tbody>
                </table>
                <div class="container col-xs-12 tfoot">
                   <p class="row info"><span class="pull-left col-sm-6">Cart Subtotal:</span><span class="pull-right col-sm-6 text-right">$1600.00</span></p>
                   <p class="row info"><span class="pull-left col-sm-6">Shipping:</span><span class="pull-right col-sm-6 text-right gray">$0.00</span></p>
                   <p class="row info total"><span class="pull-left col-sm-6">ORDER TOTAL:</span><span class="col-sm-6 pull-right text-right">$1600.00</span></p>
                </div>
             </div>
          </div>
          <div class="col-md-8 col-sm-12 auto-left">
             <div class="row">
                <div class="bottom-buttons full-width">
                   <div class="col-sm-12 col-xs-12 full-width">
                       <!-- <span><a>Download Invoice</a></span> -->
                      <a class="btn btn-third-col pull-right">BACK TO SHOPPING</a>
                   </div>
                </div>
             </div>
          </div>

          
          <div class="gap-70 col-xs-12"></div>
       </div>
    </div>
 </div>
